@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    background-color: #F0FFF0;
    color: #1D2121;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.flex {
    display: block;
    width: 100%;
}

.logo {
    width: 75px;
}

.masthead {
    text-align: center;
    background-color: #6DCBB8;
    margin: 0;
    padding-top: 15px;
}

.title {
    padding: 200px 0 100px;
}

.off-center {
    padding-left: 30%;
}

.center {
    text-align:center;
}

.intro {
    padding-left: 40%;
}

.banner {
    padding:100px 0 150px;
}

.intro-section {
}

.portfolio-section {
    background-color: #6DCBB8;
    padding: 30px 0;
}

.contact-section {
    background-color: #F0FFF0;
}


/* -------------------------- Portfolio Piece JS Classes ------------------------------*/

.caption {
    display: inline-block;
    position: relative;
    margin:35px;
}
 
.caption img {
    display: block;
    max-width: 100%;
}

.caption::before,
.caption::after {
    opacity: 0;
    position: absolute;
    width: 100%;
    color: #fff;
    padding: 10px;
    transition: opacity 0.3s; 
}

.caption::before {
    content: attr(data-title);
    top: 0;
    height: 30%;
    background: #103E39;
    font-size: 40px;
    font-weight: 300;
}

.caption::after {
    content: '\201C' attr(data-description) '\201D';
    top: 30%;
    height: 70%;
    background: #3E776D;
    font-size: 16px;
    text-align: right;
}

.caption:hover::before,
.caption:hover::after {
    opacity: .8;
}

    
/* -------------------------- Media Queries ------------------------------*/
@media only screen and (min-width: 25em){
    
    .off-center {
        padding-left: 0;
        text-align:center;
    }
    
    .intro {
        padding-left:10%;
    }
    
}

@media only screen and (min-width:38em){
    
    .intro {
        padding-left:20%;
    }
  
}

@media only screen and (min-width: 60em){
    
}
