/*PIECES*/

.piece-one {
    width: 21em;
    height: 9em;
    background: url("../img/portfolio-3.jpg");
    background-size: cover;
}
    



/* OVERLAY */

.overlay {  
    width:inherit;
    height: inherit;
    background:rgba(0,0,0,.75);
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .40s ease;
    -moz-transition: opacity .40s ease;
}

.overlay:hover {
    opacity: .60;
}

.vert-align {
    color:rgba(79, 191, 176, .60);
    font-weight:700;
}

/*SECTIONS*/

/*background*/
.section {
    padding:2.5em 10%;
    background-image: url("../img/triangle-bg1.svg");
    background-repeat: no-repeat;
    background-position: right;
}
